<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ description }}</p>
    </div>
</div>
<ngb-tabset (tabChange)="onTabChange($event)" justify='justified'>
  <ngb-tab id="home">
    <ng-template ngbTabTitle>
      <mat-icon svgIcon="home"></mat-icon>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="form">
    <ng-template ngbTabTitle>
        <mat-icon svgIcon="form"></mat-icon>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="map">
    <ng-template ngbTabTitle>
        <mat-icon svgIcon="map"></mat-icon>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<router-outlet></router-outlet>
